site_name: allure-custom
copyright: Copyright © 2022-2023 funny-dream. All Rights Reserved.
theme:
  name: material
  language: zh
#  # 评论系统
#  custom_dir: overrides
  palette:
  # 自动亮/暗模式
  - media: '(prefers-color-scheme: light)'
    # 配色方案
    scheme: default
    # 原色
    primary: teal
    accent: amber
    toggle:
      icon: material/lightbulb
      name: Switch to light mode
  - media: '(prefers-color-scheme: dark)'
    scheme: slate
    primary: teal
    accent: amber
    toggle:
      icon: material/lightbulb-outline
      name: Switch to dark mode
  features:
    - search.suggest
    - search.highlight
    - content.tabs.link

#  logo: "img/logo.png"
#  favicon: img/favicon.ico
  icon:
    repo: fontawesome/brands/github

# 右上角
repo_name: funny-dream/allure-custom
repo_url: "https://github.com/funny-dream/allure-custom"

markdown_extensions:
  - toc:
      permalink: true
  - admonition
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - attr_list
  - tables
  - def_list

plugins:
  - search
  - mike

extra:
  version:
    provider: mike

nav:
  - 首页: index.md